<% provide(:title, "Help") %>

<div class="row justify-content-center">
    <div class="col-12 center">
        <h1>Help</h1>
        <p>
            Image Browser allows you to upload and manage your images. Click gallery to view images
            or sign in and click upload to upload some images of your own.
        </p>
    </div>
</div>