<% provide(:title, t("home.title")) %>
<div class="center jumbotron">
    <h1><%= t("signin.welcome_msg") %></h1>

    <h2><%= t("home.body") %></h2>

    <% unless logged_in? %>
        <%= link_to t("home.signup"), signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
</div>
