<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Image Browser</h1>

  <h2>
    Image Browser allows you to upload and manage your images. See help for more details.
  </h2>

  <% unless logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>