<h1>Welcome to the ImageBrowser, <%= @user.username %></h1>
<p>
    To active your account, just follow this link: <%=  link_to "activate", @url %>.
</p>

<p>Thank you for joining ImageBrowser and have a great day!</p>