<footer class="footer pl-3 pr-3">
    <small>
        <%= t("footer.powered_by") %>
    </small>
    <nav>
        <ul>
            <li>
                <%= link_to t("home.title"), home_path %>
            </li>
            <li>
                <%= link_to t("help.title"), help_path %>
            </li>
        </ul>
    </nav>
</footer>