<footer class="footer pl-3 pr-3">
    <small>
        Powered by Image Browser 1.0
    </small>
    <nav>
        <ul>
            <li>
                <%= link_to "Home", home_path %>
            </li>
            <li>
                <%= link_to "Help", help_path %>
            </li>
        </ul>
    </nav>
</footer>