<% provide(:title, 'Upload photos') %>
<h1>Upload some new photos</h1>

<%= render "photos/shared/photo_form", photo: @photo, submit_url: upload_photos_path, upload_images: true, submit_msg: "Upload your Photos", submit_method: :post %>