<% provide(:title, 'Gallery') %>

<div class="row pt-2">
    <% @photos.each do |photo| %>
        <div class="col-md-4 col-sm-6 pt-2">
            <div class="img-thumbnail">
                <% unless photo.title.nil? %>
                    <h4 class="text-dark title"><%= photo.title %></h4>
                <% end %>
                <%= link_to url_for(photo.image) do %>
                    <%= image_tag photo.image, class: "img-fluid" %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>