<h1> You have requested a password reset </h1>
<p>
    To reset you password, just follow this link: <%= link_to "Reset", @url %>.
</p>

<p>If you didn't request this password reset then your account may be compromised</p>