// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.align-checkbox{
    width: auto;
}

.title{
    text-align: center;
}

.selected {
    border: 5px solid lightblue !important;
}